/* Add these styles to your CSS file */
.home-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth hover effect */
  background-color: #27ae60; /* Set the background color for the primary button */
}

/* Add these styles to your CSS file */
.home-button-container {
  display: flex; /* Enable Flexbox layout */
  justify-content: flex-start; /* Push the button to the left side */
  margin: 1px; /* Add margin for spacing, adjust as needed */
}

/* Add these styles to your CSS file */
.event-cancel-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(12, 168, 165);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


