.user-login-screen{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    text-align:left;

}
.user-login-screen div.side-display img{
    width: 350px;
    margin-bottom: 30px;
}
.user-login-screen div.side-display , div.main-display{
    /* display: flex; */
    padding: 20px 0px 20px 20px;
    /* flex: 1; */
}
.user-login-screen div.side-display {
    padding-right: 20px;
}
.user-login-screen div.side-display{
    background-color: #f1f1f1;

}
.user-login-screen div.side-display label{
    font-size: 33px;
    
}
.user-login-screen div.side-display h3{
    margin: 10px 0px;
}
.user-login-screen div.side-display h2.password, div.side-display h2.email{
    /* margin: 0; */
    margin: 10px 0px;
}
.user-login-screen div.side-display form{
    /* padding: 20px; */
    margin-top: 20px;
}
.user-login-screen div.side-display form input{
    width: calc(100% - 20px);
    font-size: 20px;
    padding: 5px ;
}
.user-login-screen div.side-display form span{
    margin-top: 10px;
    font-size: 20px;
    display: block;
}
.user-login-screen div.side-display form button{
    margin-top: 10px;
    font-size: 20px;
}

/* Set a gradient background for .user-login-screen div.main-display */
.user-login-screen div.main-display {
    background: linear-gradient(to bottom, #05a4c0,#025db8, #042568);
  }
  

/* Set the color to black for specific elements */
.user-login-screen div.side-display label,
.user-login-screen div.side-display h2,
.user-login-screen div.side-display h3,
.user-login-screen div.side-display form input,
.user-login-screen div.side-display form span,
.user-login-screen div.side-display form button {
  color: black;
}
