.add-event-form-container {
  background-color: white;
  height: 72vh;
  width: 100%;
}
.left {
  margin-right: 20px;
}
h3{
  font-size: 30px;
  text-decoration: underline;
}
input {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.55);
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 20px;
}
.description-container{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3.5%;
  margin-right: 28%;
}

.event-name{
  margin-top: 40px;
  font-size: 24px;
  width: 80%;
}
.time-fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
}
.addBtn{
  background-color:#007bff;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  color: white;
  transition: background-color .25s;
  transition: opacity .15s;
}
.addBtn:hover{
  background-color:rgb(14, 102, 243);
}
.addBtn:active{
  opacity: 0.8;
}