/* LandingPage.css */


/* Container for the entire landing page */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5; /* Light Gray */
  min-height: 100vh;
  text-align: center;
}

/* Header section */
.header {
  height: 6rem;
  background-color: #3498db; /*  Blue */
  color: white;
  width: 100%;
}

/* Logo and slogan */
.logo {
  margin-top: 10px;
  font-size: 2rem;
}

.slogan {
  font-size: 1.2rem;
  margin-top: 5px;
}

/* Section title with color-changing animation */
.section-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  animation: colorChange 4s ease infinite alternate;
}

@keyframes colorChange {
  0% {
    color: white; /* Gray */
  }
  100% {
    color: rgb(19, 95, 216) /* Blue */
  }
}

/* Hero section styles */
.hero-title {
  font-size: 3em;
  text-align: center;
  opacity: 0.5;
  animation: fadeInOut 3s ease infinite;
  margin-top: 20px;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.hero-description {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* CTA buttons section */
.cta-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.cta-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.primary {
  background-color: #3498db; /* Blue */
}

.cta-button:hover {
  transform: scale(1.1);
}

.cta-link {
  font-size: 1.2rem;
  margin-top: 10px;
}

.cta-button.secondary {
  background-color: #808080; /* Gray */
}

.cta-button.secondary:hover {
  background-color: #3498db;
}

.cta-button.secondary:focus {
  outline: none;
  background-color: #3498db;
}

/* Styling for the Phrases section */
.phrases-section {
  background: linear-gradient(to bottom, #05bedb, #f5f5f5, #06bedb); /* Gray, Light Gray, Blue */
  padding: 40px 0;
  text-align: center;
  color: #fff; /* White text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Container for phrases and images */
.phrase-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 80%;
}

/* Container for phrases and images in reverse order */
.phrase-container-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 80%;
}

/* Styling for phrases */
.phrase, .phrase3, .phrase1 {
  font-size: 2.0rem;
  margin-left: 20px;
  color: #fff;
  font-style: italic;
  opacity: 0.7;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animation for phrases on hover */
.phrase:hover, .phrase3:hover, .phrase1:hover {
  animation: slideLeftRight 1s infinite alternate;
}

/* Define the slide animation */
@keyframes slideLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

/* Styling for images */
.phrase-image {
  max-width: 500px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* Hover animation for images */
.phrase-image:hover {
  transform: scale(1.1) translateY(-5px);
  animation: bounce 0.3s infinite alternate;
}

/* Bounce animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

 
.section-title{
  font-size: 2.2em;
}

.phrases-section p {
  color: #3a96d3;
}

.phrases-section .phrase3{
  color: white;
}
.phrases-section .phrase1{
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  /* background: linear-gradient(45deg, #3498db, #21d4fd); */
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 150px;
  padding-left: 120px;
  
}
.hero-container{
  display: flex;
}
.hero-description{
  font-size: 22px;
}
.cta-section{
  margin-right: 40px;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phrase-container{
  display: flex;
  flex-direction: column;
  height: 500px;
}
.phrase3{
  margin-right: 20px;
}
.phrase-image{
  height: 300px;
  width: 380px;
  object-fit: cover;
  object-position: center;
}

.footer-text{
  height: 10px;
}