/* Sections */
.bottomLeft-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nopadding {
  padding: 0;
}

.bottom {
  position: relative;
  top: 95%;
  transform: translateY(-100%);
}
