/* Sections */
.bottomLeft-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Set a media query to fix the scrolling to the right issue */
.side-section {
  border-left: 1px solid white;
  background-color: #f2f3f5;
  height: 100vh;
}

.nopadding {
  padding: 0;
}

.main-header {
  height: 11vh;
  background-color: white;
  font-size: 32px;
}

.group-list {
  height: 17vh;
  background-color: #f2f3f5;
}

.schedule-list {
  background-color: #e3e5e8;
  height: 72vh;
  width: 100%;
}

.group-chat {
  background-color: white;
  height: 72vh;
  width: 100%;
}

.nametag {
  background-color: #9ba3e8;
  color: #000;
  border-radius: 20px;
  max-width: 120px;
  max-height: 33px;
  margin-top: -10px;
  padding: 4px;
  z-index: 100;
  left: 2px;
  right: 2px;
  top: 73px;
  position: absolute;
}

.user-icon {
  max-width: 120px;
  position: relative;
}

.user-icon-img {
  border-radius: 50%;
  max-width: 90px;
  max-height: 90px;
}

.date-panel {
  background-color: #e3e5e8;
  border: 1px solid white;
  border-radius: 20px;
}
