body {
  background-color: #eeeeee;
  color: #000;
  font-family: "Glacial Indifference", sans-serif;
  text-align: center;
}

/* #eeeeee	(238,238,238)
#dddddd	(221,221,221)
#cccccc	(204,204,204)
#bbbbbb	(187,187,187)
#9a9a9a	(154,154,154) */
